<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    </link>
</head>

<body>

<div class="navbar navbar-inverse" role="navigation">
    <div>
        <a class="navbar-brand" href="/main">VMS Project</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 colxxx sidebar">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/main">Группы в БД</a></li>
                <li><a href="/post/news">Посты</a></li>
                <li><a href="/showgroups">Поиск групп</a></li>
                <!--<li><a href="/city/search">Поиск пользователей</a></li>-->
                <li><a href="/post/blacklisturl">Чёрные списки</a></li>
                <li><a href="/properties">Настройки</a></li>
            </ul>
        </div>
        <div class=" col-md-9 fixed ">
            <h2 class="sub-header">Группы в БД</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Группы</a></li>
                <li><a data-toggle="tab" href="#panel2">Добавить группу</a></li>
            </ul>
            <div class="tab-content boxShadow3 bg-tab">
                <div id="panel1" class="tab-pane fade in active boxShadow3 bg-tab">
                    <div class="table-responsive">
                        <input type="hidden" class="btn btn-primary" id="notFoundFlag" name="notFoundFlag"
                               th:value="${counter}"/>
                        <table class="table table-row-cell">
                            <tr>
                                <th>№</th>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Экранное имя</th>
                                <th>Изменить</th>
                                <th>Удалить</th>
                            </tr>
                            <tr th:each="group,iterStat : ${groups}" th:id="'group-' + ${iterStat.count}">
                                <td th:text="${iterStat.count}">№</td>
                                <td th:text="${group.id}">Id</td>
                                <td th:text="${group.name}">Имя группы</td>
                                <td th:text="${group.screen_name}">Экранное имя</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#myModal" th:attr="data-group-id=${iterStat.count}">Изменить
                                    </button>
                                </td>
                                <td><a th:href="${'/main/delete/' + group.id}">Удалить</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/groupNotFound.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>